
body{
    background-color: rgb(205,214,240);    
}

main{
    margin: 400px 150px 250px 150px;
    padding: 100px;
    background-color:white;
    border-style: round;
}

.texto-centrado{
    text-align: center;
    
}

img{
    fill: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: royalblue;

}

table{
    width: 100%;
}

.hero{
    margin-bottom: 100px;
}

#services{
    color: royalblue;
    font-size: 21px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#what-do-we-offer{
    color: midnightblue;
    font-family: "Lalezar", system-ui;
    font-style: normal;
    font-weight: 20;
    font-size: 50px;
}

p{
    color: rgb(59, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.espacio-entre-lineas{
    line-height: 10px;
}
h3{
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}